* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f5f5f5;
  font-family: 'Poppins', serif;
}

section {
  padding: 0 6rem;
}

/* NAVBAR SECTION */
.navbar {
  margin-top: 1.5rem;
  color: #03045e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* box-shadow: 0 1.5rem 1.5rem rgba(36, 0, 64, 0.15); */
}

.navbar h1 {
  font-family: 'Lobster Two', cursive;
  font-size: 2rem;
}

.navbar button {
  font-size: 1.5rem;
  border: none;
  background: transparent;
  cursor: pointer;
}

.navbar button:hover {
  color: brown;
}

.navbar .hamburger-menu {
  margin-right: 1.8rem;
}

.nav .links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav .links ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  display: none;
}

.nav .links a {
  text-decoration: none;
  color: #000;
}

.nav .links a:hover {
  text-decoration: underline;
}

/* ABOUT SECTION */
.about {
  margin-top: 5rem;
}

.about > h2,
.why-coding > h2,
.why-fac > h2,
.projects > h2 {
  text-align: center;
  font-family: 'Lobster Two', cursive;
  font-size: 2rem;
  color: #03045e;

  padding-bottom: 0.7rem;
  border-bottom: 2px solid #ff006e;
  width: 20%;
  margin: 0 auto;
}

.projects > hr {
  padding: 0;
}

.about .about-content {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* align-items: center; */
}

.about .about-content .left h2 + h2 {
  font-size: 4rem;
  color: #03045e;
}

.about .about-content .left h2 + h2 span {
  color: #ff006e;
}

.about .about-content .left p {
  width: 94%;
  font-size: 1rem;
  line-height: 1.4;
  word-spacing: 0.2rem;
}

.about .about-content .left p + p {
  margin: 2rem 0 1rem 0;
}

.about .about-content .left .scroll {
  margin-top: 1rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 600;
  background: transparent;
  border: none;
  color: #2b2d3e;
  text-decoration: none;
  border-bottom: 1px solid #ff006e;
  padding-bottom: 0.5rem;
  cursor: pointer;
  transition: all 400ms;
}

.about .about-content .left .scroll:hover {
  -webkit-transform: translateY(-1px);
  transform: translateY(-2px);
  color: #03045e;
  border-bottom: 2px solid #ff006e;
}

.about .about-content .right img {
  width: 100%;
}

/* WHY CODING SECTION */
.why-coding {
  margin-top: 9rem;
}

.why-coding-content {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.why-coding-content article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.why-coding-content article span {
  font-size: 1.9rem;
  color: #ff006e;
}

.why-coding-content article p {
  width: 80%;
  margin: 0 auto;
  font-size: 1rem;
  word-spacing: 0.1rem;
  line-height: 2;
}

.why-coding-content article {
  text-align: center;
}

/* WHY FAC SECTION */
.why-fac {
  margin-top: 9rem;
}

.why-fac-content {
  /* border: 1px solid red; */
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
}

.why-fac-content .right {
  display: flex;
  flex-direction: column;
}

.why-fac-content .right div {
  position: relative;
  display: flex;
  gap: 3rem;
}

.why-fac-content .right div img {
  width: 13rem;
  height: 15rem;
  border: 1px solid #03045e;
}

.why-fac-content .right > img {
  position: absolute;
  margin-top: 11rem;
  align-self: center;
  width: 16rem;
  height: 18rem;
  border: 1px solid #03045e;
}

.why-fac-content .left {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.why-fac-content .left p {
  font-size: 1rem;
  word-spacing: 0.1rem;
  line-height: 2;
  width: 80%;
}

.why-fac-content .left span {
  font-size: 1.1rem;
}

/* PROJECTS SECTION */
.projects {
  margin-top: 18rem;
  padding: 0 2rem;
  display: grid;
  place-items: center;
}

.projects-content {
  width: 75%;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.projects-content article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.projects-content article img {
  width: 15rem;
  height: 13rem;
  border: 1px solid #03045e;
}

.projects-content article h3 {
  text-transform: uppercase;
  font-size: 1rem;
}

.projects-content article .description {
  display: flex;
  gap: 0.3rem;
}

.projects-content article .description span {
  cursor: pointer;
}

.projects-content article p {
  font-size: 1rem;
  width: 80%;
  display: none;
}

.projects-content article .open {
  display: block;
}

.projects-content article .buttons {
  display: flex;
  gap: 0.5rem;
}

.projects-content article .buttons a {
  text-decoration: none;
  font-size: 1rem;
  padding: 0.3rem 0.5rem;
  background: #ff006e;
  color: #f1faee;
  box-shadow: 0.5rem;
  border: 1px solid transparent;
  border-radius: 0.3rem;
  cursor: pointer;
}

.projects-content article .buttons a:hover {
  background: #6a0732;
}

.projects-content article .buttons a + a {
  background: #3a86ff;
}

.projects-content article .buttons a + a:hover {
  background: #13356c;
}

/* SOURCES SECTION */
.sources {
  margin-top: 10rem;
}

.sources h3 {
  margin-bottom: 0.4rem;
  text-decoration: underline;
  cursor: pointer;
}

.sources-content {
  padding: 0;
  margin-left: 1.2rem;
  display: none;
}

.sources-content a {
  text-decoration: none;
  color: #3a86ff;
  cursor: pointer;
}

.sources .open {
  display: block;
}

/* FOOTER SECTION */
footer {
  margin-top: 4rem;
  padding: 1rem 3rem;
}

footer > p {
  width: 70%;
  border-top: 1px solid #03045e;
  padding-top: 0.6rem;
  margin: 3rem auto 0 auto;
  text-align: center;
  font-size: 0.9rem;
}

footer > p + p {
  padding-top: 0;
  border: none;
  margin: 0 auto;
}

/* DARKMODE/LIGHTMODE SECTION (cascading) */
.dark-mode {
  color: #d5d5d8;
  background-color: #2b2d3e;
}

.dark-mode .links a {
  color: #d5d5d8;
}

.dark-mode .navbar h1 {
  color: #adb5bd;
}

.dark-mode .navbar button {
  color: #d5d5d8;
}

.dark-mode .navbar button:hover {
  color: #b8bedd;
}

.dark-mode .about > h2,
.dark-mode .why-coding > h2,
.dark-mode .why-fac > h2,
.dark-mode .projects > h2 {
  color: #adb5bd;
  border-color: #b8bedd;
}

.dark-mode .about .about-content .left h2 + h2 {
  color: #b8bedd;
}

.dark-mode .about .about-content .left .scroll {
  color: #d5d5d8;
  border-color: #3a86ff;
}

.dark-mode .why-coding-content article span {
  color: #a3cef1;
}

.dark-mode .projects-content article .buttons a {
  background: #6096ba;
  color: #d5d5d8;
}

.dark-mode .projects-content article .buttons a + a {
  background: #8b8c89;
}

.dark-mode .projects-content article .buttons a:hover {
  color: #f1faee;
}

.dark-mode footer > p {
  border-color: #adb5bd;
}

/* MEDIA QUERIES */
/* TABLETS */
@media (max-width: 820px) {
  p {
    font-size: 0.9rem;
  }
  section {
    padding: 0 3rem;
  }
  .about > h2,
  .why-coding > h2,
  .why-fac > h2,
  .projects > h2 {
    font-size: 1.5rem;
  }
  .about .about-content .left h2 {
    font-size: 1.3rem;
  }
  .about .about-content .left h2 + h2 {
    font-size: 2.5rem;
  }
  .about .about-content .left p {
    width: 100%;
    margin-bottom: 1rem;
  }
  .about .about-content .left p + p {
    margin-top: 1rem;
  }
  .about .about-content {
    gap: 3rem;
    grid-template-columns: 60% 40%;
  }
  .about .about-content .right img {
    width: 18rem;
    height: 18rem;
  }

  .why-coding-content {
    gap: 1.5rem;
  }
  .why-coding-content article p {
    width: 100%;
  }

  .why-fac-content .left {
    gap: 1rem;
    font-size: 0.9rem;
  }
  .why-fac-content .right div {
    gap: 1.5rem;
  }
  .why-fac-content .right div img {
    width: 8rem;
    height: 9rem;
  }
  .why-fac-content .right > img {
    width: 17.5rem;
  }

  .projects {
    margin-top: 10rem;
    display: grid;
  }
  .projects-content {
    max-width: 100%;
    gap: 2rem;
  }
  .projects-content article img {
    width: 10rem;
    height: 10rem;
  }
  .projects-content article p {
    width: 100%;
    font-size: 0.9rem;
  }
}

/* MEDIA QUERIES */
/* MOBILE PHONES */
@media (max-width: 420px) {
  p {
    font-size: 0.7rem;
  }
  section {
    padding: 0 1.5rem;
  }
  .about > h2,
  .why-coding > h2,
  .why-fac > h2,
  .projects > h2 {
    width: 40%;
  }
  .about .about-content {
    grid-template-columns: 1fr;
    /* text-align: center; */
  }
  .about .about-content .left p {
    line-height: 1.8;
  }
  .about .about-content .right img {
    display: none;
  }

  .why-coding {
    margin-top: 1rem;
  }
  .why-coding-content {
    margin-top: 2rem;
    flex-direction: column;
  }

  .why-fac {
    margin-top: 4rem;
  }

  .why-fac-content {
    margin-top: 2rem;
    display: flex;
    flex-direction: column-reverse;
  }
  .why-fac-content .right div {
    gap: 1rem;
  }
  .why-fac-content .right div img {
    width: 7rem;
    height: 7rem;
  }
  .why-fac-content .right > img {
    margin-top: 0rem;
    align-self: flex-end;
    width: 7rem;
    height: 7rem;
    border: 1px solid #03045e;
  }
  .why-fac-content .left {
    font-size: 0.7rem;
    margin-top: 2rem;
  }
  .why-fac-content .left p {
    width: 100%;
  }

  .projects {
    margin-top: 3rem;
    display: block;
  }
  .projects-content {
    width: 100%;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }
  .projects-content article img {
    width: 10rem;
    height: 10rem;
  }
  .projects-content article p {
    width: 100%;
    font-size: 0.7rem;
  }

  .sources h3 {
    font-size: 1rem;
  }
}
